# 忽略 Jekyll 生成的靜態網站文件
_site/

# 忽略 Jekyll 臨時文件和日誌
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
.log

# 忽略 Ruby 和 Bundler 相關文件
Gemfile.lock

# 忽略系統生成的文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 忽略編輯器生成的臨時文件
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp

# 忽略本地測試環境生成的臨時文件
node_modules/

# 忽略 Git 忽略規則文件本身的備份
.gitignore~